<html>
<head><title>{{ web_index_title }}</title></head>
<body>
<h1 style="text-align:center; color:blue;">Welcome to {{ inventory_hostname }}</h1>
<h2 style="text-align:center;">IP: {{ ansible_host }}</h2>
</body>
</html>
