---
- name: Install BIND packages
  package:
    name:
      - bind
      - bind-utils
    state: present

- name: Deploy named.conf
  template:
    src: named.conf.j2
    dest: /etc/named.conf
    owner: root
    group: named
    mode: '0640'

- name: Enable and restart named
  service:
    name: named
    state: restarted
    enabled: yes
